.container {
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color: #fafafa;
  align-items: center;
}

img {
  align-self: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 50px;
}

.chart-container {

  margin: 100px 5% 0 5%;
  
}

@media (max-width: 768px) {
  img {
    max-width: 280px !important;
  }
  /* .cards-container {
    flex-direction: column;
  } */
}